

<div class="verh">
    <div class="verh2">
        <h3>Купить квартиру в Днепре</h3>
        <div class="poisk">
        </div>
        <div class="rounds2"></div>
         </div>
      
    </div>
</div>
 
<div id="map"></div>
  <script>
      const urlParams = new URLSearchParams(window.location.search);
      const key = urlParams.get('key') || 'OtXT33393kg0GeJ9BHOS';
      const map = new maplibregl.Map({
        container: 'map', // container id
        style: `https://api.maptiler.com/maps/streets/style.json?key=${key}`, // style URL
        center: [34.811274, 48.523163], // starting position [lng, lat]
        zoom: 9, // starting zoom
      });
      const marker = new maplibregl.Marker()
  .setLngLat([34.914506, 48.454649])
  .addTo(map);

      map.on('error', function(err) {
        throw new Error("To load the map, you must replace YOUR_MAPTILER_API_KEY_HERE first");
      });
  </script>
<div class="maindiv">
   
    {{#if products.length}}
    {{#each products}}
   
    <div onClick="window.open('/product/{{_id}}','_blank');" class="card">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src={{IMG}} class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
        {{!-- <div class="picturBox">
         <img class="picture" src={{IMG}}>
        </div> --}}
        <div>
            <span>{{Price}}$</span>
        </div>
        <div>
            <span>{{Adres}}</span>
        </div>
        <div>
        <span>{{RommsCount}} комнат  ·  {{Square}} м²  ·  {{Floor}} Этаж </span>
        </div>
        <div class="rounds">
        </div>
        <span>{{Description}}</span>
    </div>


    {{/each}}
    {{else}}
    <h3> No Products </h3>
    {{/if}}
</div>

